@media all and (max-width: 65.75em) {
    html {
        /* font-size: 8px; */
        font-size: 50%;
    }

    .dashboard__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}